@import '~antd/dist/antd.css';

:root {
    --mainColor: #BB2339
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/open-sans-v34-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/open-sans-v34-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/open-sans-v34-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/open-sans-v34-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/inter-v12-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/inter-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/inter-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/inter-v12-latin-600.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/inter-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/inter-v12-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

footer {
    height: 50px;
}

